@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden !important;
}

.modalSelect option select {
  background: #000;
  color: #800;
  padding: 20px;
}
